<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='boot.css')}}">

    



</head>
<body>

    <main class="container p-4">
        <h1>Post's in Dev-GG</h1>
    
      </main>

    <div class="row">
        <div class="col-md-4 offset-md-2 my-auto">
          <table class="table table-striped table-hover table-bordered table-sm bg-white">
            <thead>
              <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Author</td>
                <td>Subtitle</td>
                <td>Date Posted</td>
                <td>Operations</td>
              </tr>
            </thead>
            <tbody>
              {% for post in posts %}
              <tr>
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.author}}</td>
                <td>{{post.subtitle}}</td>
                <td>{{post.date_posted}}</td>
                <td><a href="/delete/{{post.id}}" class="btn btn-danger btn-sm">delete</a></td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
    
        </div>
      </div>
      </div>
</body>
</html>